@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&family=Cairo:wght@400;600;700&display=swap');

.font-bebas { font-family: 'Bebas Neue', sans-serif; }
.font-inter  { font-family: 'Inter', sans-serif; }
.font-cairo  { font-family: 'Cairo', sans-serif; }
